* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(198, 17, 17);
    height: 150px;
}

.M {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style-type: none
}

li {
    text-align: center;
    padding: 0.25em;
}

li a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

nav ul li :hover {
    color: yellow;
}

footer {
    background-color: #242124;
    color: white;
    font-size: small;
    padding: 15px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #C0C0C0;
}

footer :hover {
    color: white;
    text-decoration: underline;
}

form {
    color: white;
}

.OO {
    height: 800px;
    text-align: center;
}

.S1 {
    height: 800px;
    width: 515px;
    float: left;
}

.S2 {
    height: 800px;
    width: 515px;
    float: right;
}

.OrderRectangle {
    height: 750px;
    width: 450px;
    background-color: rgb(63, 63, 63);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25px;
    border: red solid 2px;
}

.container {
    text-align: center;
    background-color: #570303;
    width: 450px;
}

.container h1 {
    padding: 0.3em;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.container p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 0.3em;
}

.C1 {
    padding: 0.3em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: white solid 1px;
}

.C2 {
    font-size: 18px;
    padding: 0.5em;
    border: #570303 solid 3px;
}

.DA8 {
    padding: 0.75em;
}

.H8 {
    font-size: 18px;
}

.H81 {
    padding: 0.3em;
    width: 220px;
    font-size: 12px;
}

.H9 {
    font-size: 18px;
}

.H91 {
    padding: 0.3em;
    font-size: 12px;
}

.DI2 {
    text-align: center;
}

input {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 200px;

}

input[type=submit] {
    cursor: pointer;
    border: rgb(255, 255, 255) solid 2px;
    padding: 1em;
    width: 110px;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: red;
    color: white;
}
