* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(198, 17, 17);
    height: 150px;
}

.M {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style-type: none
}

li {
    text-align: center;
    padding: 0.25em;
}

li a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

nav ul li :hover {
    color: yellow;
}

footer {
    background-color: #242124;
    color: white;
    font-size: small;
    padding: 15px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #C0C0C0;
}

footer :hover {
    color: white;
    text-decoration: underline;
}

.SDA {
    height: 910px;
    color: white;

}

.RECD {
    background-color: #242124;
    color: white;
    height: 880px;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
    border: red solid 3px;
}

.container {
    text-align: center;
    background-color: #570303;
    width: 560px;
}

.container h1 {
    padding: 0.5em;
    font-size: 38px;
    color: rgb(255, 255, 255);
}

.container p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 0.3em;
}

.H81 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    position: relative;
    left: 75px;
}

.H71 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 205px;
    position: relative;
    left: 50px;
}

.H61 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 205px;
}

.H41 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 205px;
    position: relative;
    left: 30px;
}

.H31 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 205px;
    position: relative;
    left: 35px;
}

.H21 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 205px;
    position: relative;
    left: 65px;
}

.H11 {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    text-align: center;
    width: 205px;
    position: relative;
    left: 50px;
}

.DA3 p {
    font-size: 14px;
    position: relative;
    left: 152px;
    top: 5px;
}

.DA1 p {
    font-size: 14px;
    position: relative;
    left: 152px;
    top: 5px;
}

.DA9 {
    text-align: center;
    position: relative;
    top: 20px;
}

.H5B {
    font-size: 16px;
    position: relative;
    left: 75px;
}

.H5A {
    font-size: 16px;
    position: relative;
    left: 65px;
}

.H5C {
    font-size: 16px;
    position: relative;
    left: 85px;
}

.H5C input {
    background-color: #b6b6b6;
    color: #242124;
    padding: 0.5em;
    width: 60px;
    position: relative;
    left: 5px;
}

.H1 {
    padding: 0.6em;
}

.H2 {
    padding: 0.6em;
}

.H3 {
    padding: 0.6em;
}

.H4 {
    padding: 0.6em;
}

.H5 {
    padding: 0.6em;
}

.H6 {
    padding: 0.6em;
}

.H7 {
    padding: 0.6em;
}

.H8 {
    padding: 0.6em;
}

.H5 input {
    cursor: pointer;
}

form {
    font-size: 18px;
    padding: 1em;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #0e0c0e;
}

input[type=submit] {
    cursor: pointer;
    background-color: #b6b6b6;
    border: rgb(255, 255, 255) solid 2px;
    padding: 1em;
    width: 110px;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: red;
    color: white;
}